@CHARSET "ISO-8859-1";
        /* just for the demo */
        
        /*Global styling for all elements*/
        body, content {
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 0;
            color: black;
            padding-left: 30px;
        }
        a:link, a:visited {
            text-decoration: none;
            color: black;
        }
        /*Start hmenu styling.  This is just the navigation bar.*/
        #hmenu {
            background-color: #000000;
            margin: 0 0 0 0;
            padding: 20 20 20 20;
            width: 95%;
            height: 50px;
            color: white;
            text-transform: uppercase;
        }
        #hmenu ul {
            display: ;
            list-style-type: none;
            text-align: right;
        }
        #hmenu li {
            display: inline;
            text-transform: uppercase;
            font-size: 24px;
        }
        #hmenu a:link {
            color: white;
            text-decoration: none;
            padding: 29 5 25 5;
        }
        #hmenu  a:visited {
            color: white;
            text-decoration: none;
            padding: 29 5 25 5;
        }
        #hmenu a:hover {
            background-color: #666666;
        }
        /*End of hmenu styling */

        #left, #right {
            display: inline;
            padding: 15px;
            color: black;
        }
        #left {
            float: left;
            width: 40%;
        }
        #right {
            width: auto;
            float: right;
            padding-right: 20px;
        }
        #external-links a:link {
            text-transform: uppercase;
            text-decoration: none;
            color: black;
        }
        #external-links a:hover {
            color: e4e4e4;
            text-transform: uppercase;
            padding: 0;
        }
        input[type=text],
        input[type=password],
        input[type=submit],
        input[type=email] {
            
            margin-bottom: 15px;
        }
        input[type=checkbox] {
            display:inline;
            margin-bottom: 15px;
        }
        #registration_form {
            padding: 20px;
        }
        #logged_in {
            padding: 40px;
        }
        #edit-page {
            margin: 0 auto;
            width: 50%;
            padding: 40px;
        }
        /* Double-color dashed line */   
        hr {
            border: 0;
            border-bottom: 1px dashed #ccc;
            background: #999;
        }
